_build/.doctrees/environment.pickle
_build/.doctrees/glue_cache.json
_build/.doctrees/intro.doctree
_build/.doctrees/bvp/overview.doctree
_build/.doctrees/finite-diffs/overview.doctree
_build/.jupyter_cache/global.db
_build/html/.buildinfo
_build/html/genindex.html
_build/html/index.html
_build/html/intro.html
_build/html/objects.inv
_build/html/search.html
_build/html/searchindex.js
_build/html/_sources/intro.md
_build/html/_sources/bvp/overview.md
_build/html/_sources/finite-diffs/overview.md
_build/html/_sphinx_design_static/design-style.b7bb847fb20b106c3d81b95245e65545.min.css
_build/html/_sphinx_design_static/design-tabs.js
_build/html/_static/basic.css
_build/html/_static/check-solid.svg
_build/html/_static/clipboard.min.js
_build/html/_static/copy-button.svg
_build/html/_static/copybutton_funcs.js
_build/html/_static/copybutton.css
_build/html/_static/copybutton.js
_build/html/_static/design-style.b7bb847fb20b106c3d81b95245e65545.min.css
_build/html/_static/design-tabs.js
_build/html/_static/doctools.js
_build/html/_static/documentation_options.js
_build/html/_static/file.png
_build/html/_static/jquery-3.5.1.js
_build/html/_static/jquery.js
_build/html/_static/language_data.js
_build/html/_static/minus.png
_build/html/_static/mystnb.css
_build/html/_static/plus.png
_build/html/_static/proof.css
_build/html/_static/pygments.css
_build/html/_static/sbt-webpack-macros.html
_build/html/_static/searchtools.js
_build/html/_static/sphinx-thebe.css
_build/html/_static/sphinx-thebe.js
_build/html/_static/togglebutton.css
_build/html/_static/togglebutton.js
_build/html/_static/underscore-1.13.1.js
_build/html/_static/underscore.js
_build/html/_static/webpack-macros.html
_build/html/_static/images/logo_binder.svg
_build/html/_static/images/logo_colab.png
_build/html/_static/images/logo_deepnote.svg
_build/html/_static/images/logo_jupyterhub.svg
_build/html/_static/locales/ar/LC_MESSAGES/booktheme.po
_build/html/_static/locales/bg/LC_MESSAGES/booktheme.po
_build/html/_static/locales/bn/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ca/LC_MESSAGES/booktheme.po
_build/html/_static/locales/cs/LC_MESSAGES/booktheme.po
_build/html/_static/locales/da/LC_MESSAGES/booktheme.po
_build/html/_static/locales/de/LC_MESSAGES/booktheme.po
_build/html/_static/locales/el/LC_MESSAGES/booktheme.po
_build/html/_static/locales/eo/LC_MESSAGES/booktheme.po
_build/html/_static/locales/es/LC_MESSAGES/booktheme.po
_build/html/_static/locales/et/LC_MESSAGES/booktheme.po
_build/html/_static/locales/fi/LC_MESSAGES/booktheme.po
_build/html/_static/locales/fr/LC_MESSAGES/booktheme.po
_build/html/_static/locales/hr/LC_MESSAGES/booktheme.po
_build/html/_static/locales/id/LC_MESSAGES/booktheme.po
_build/html/_static/locales/it/LC_MESSAGES/booktheme.po
_build/html/_static/locales/iw/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ja/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ko/LC_MESSAGES/booktheme.po
_build/html/_static/locales/lt/LC_MESSAGES/booktheme.po
_build/html/_static/locales/lv/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ml/LC_MESSAGES/booktheme.po
_build/html/_static/locales/mr/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ms/LC_MESSAGES/booktheme.po
_build/html/_static/locales/nl/LC_MESSAGES/booktheme.po
_build/html/_static/locales/no/LC_MESSAGES/booktheme.po
_build/html/_static/locales/pl/LC_MESSAGES/booktheme.po
_build/html/_static/locales/pt/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ro/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ru/LC_MESSAGES/booktheme.po
_build/html/_static/locales/sk/LC_MESSAGES/booktheme.po
_build/html/_static/locales/sl/LC_MESSAGES/booktheme.po
_build/html/_static/locales/sr/LC_MESSAGES/booktheme.po
_build/html/_static/locales/sv/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ta/LC_MESSAGES/booktheme.po
_build/html/_static/locales/te/LC_MESSAGES/booktheme.po
_build/html/_static/locales/tg/LC_MESSAGES/booktheme.po
_build/html/_static/locales/th/LC_MESSAGES/booktheme.po
_build/html/_static/locales/tl/LC_MESSAGES/booktheme.po
_build/html/_static/locales/tr/LC_MESSAGES/booktheme.po
_build/html/_static/locales/uk/LC_MESSAGES/booktheme.po
_build/html/_static/locales/ur/LC_MESSAGES/booktheme.po
_build/html/_static/locales/vi/LC_MESSAGES/booktheme.po
_build/html/_static/locales/zh_CN/LC_MESSAGES/booktheme.po
_build/html/_static/locales/zh_TW/LC_MESSAGES/booktheme.po
_build/html/_static/scripts/pydata-sphinx-theme.js
_build/html/_static/scripts/sphinx-book-theme.js
_build/html/_static/scripts/sphinx-book-theme.js.map
_build/html/_static/styles/pydata-sphinx-theme.css
_build/html/_static/styles/sphinx-book-theme.css
_build/html/_static/styles/theme.css
_build/html/_static/vendor/fontawesome/5.13.0/LICENSE.txt
_build/html/_static/vendor/fontawesome/5.13.0/css/all.min.css
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.eot
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.svg
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.ttf
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.eot
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.svg
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.ttf
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.woff
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.woff2
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.eot
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.svg
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.ttf
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2
_build/html/bvp/overview.html
_build/html/finite-diffs/overview.html
